{# ============================================ #}
{# ============= Cargar Variables ============= #}
{# ============================================ #}

{% load static %}
{% include "html_templates/_head.html" %}

{# ============================================ #}
{# ============== Inicio de HTML ============== #}
{# ============================================ #}

<div class="container">
    <h1>Detalles del Paciente</h1>

    <ul>
        <li><strong>RUT:</strong> {{ paciente.rut }}-{{ paciente.dv }}</li>
        <li><strong>Nombres:</strong> {{ paciente.primernombre }} {{ paciente.segundonombre }}</li>
        <li><strong>Apellidos:</strong> {{ paciente.apellidopaterno }} {{ paciente.apellidomaterno }}</li>
        <li><strong>Año de Nacimiento:</strong> {{ paciente.anio_nacimiento }}</li>
        <li><strong>Edad:</strong> {{ paciente.edad }}</li>
        <li><strong>Cantidad de emergencias: {{num_emergencias}}</strong></li>
        <!-- Otros detalles según sea necesario -->
    </ul>
    
    <a href="{% url 'PaginaPacientes' %}" class="btn btn-primary">Volver a la Lista de Pacientes</a>
</div>

{# ============================================ #}
{# ================ Pie de HTML =============== #}
{# ============================================ #}

{% include "html_templates/_footer.html" %}
