{# ============================================ #}
{# ============= Cargar Variables ============= #}
{# ============================================ #}

{% load static %}
{% include "html_templates/_head_empleados.html" %}

{# ============================================ #}
{# ============== Inicio de HTML ============== #}
{# ============================================ #}

<div class="container">
<div class="container">

<div class="container">
    <h3>Detalles del Doctor</h3>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">RUT</th>
                <th scope="col">Nombres</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Año de Nacimiento</th>
                <th scope="col">Número de Emergencias</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ doctor.pers_rut }} - {{ doctor.pers_dv }}</td>
                <td>{{ doctor.pers_primernombre }} {{ doctor.pers_segundonombre }}</td>
                <td>{{ doctor.pers_apellidopaterno }} {{ doctor.pers_apellidomaterno }}</td>
                <td>{{ doctor.pers_nacimiento }}</td>
                <td> {{num_emergencias}}</td>
            </tr>
        </tbody>
    </table>

</div>

{% if num_emergencias > 0 %}
    <div class="accordion" id="emergenciasAccordion">
        <div class="accordion-item">
            <h2 class="accordion-header" id="emergenciasHeading">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEmergencias" aria-expanded="true" aria-controls="collapseEmergencias">
                    Últimas Emergencias
                </button>
            </h2>
            <div id="collapseEmergencias" class="accordion-collapse collapse show" aria-labelledby="emergenciasHeading" data-bs-parent="#emergenciasAccordion">
                <div class="accordion-body">
                    <ul>
                        {% for emergencia in ultimas_emergencias %}
                            <li>
                                <strong>Fecha:</strong> {{ emergencia.emerg_fecha }}<br>
                                <strong>Tipo de emergencia:</strong> {{ emergencia.emerg_color }}<br>
                                <strong>Descripción:</strong> {{ emergencia.emerg_desc }}
                            </li>
                            <p>---------------------------------------------------------------------------------------</p>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endif %}

<a href="{% url 'DetalleDoctor' %}" class="btn btn-primary mt-4 mb-4">Volver a la Lista de Doctores</a>


{# ============================================ #}
{# ================ Pie de HTML =============== #}
{# ============================================ #}

{% include "html_templates/_footer_no.html" %}