{% load static %}
{% include "html_templates/_head_empleados.html" %}

<div class="container">

<style>
    table {
        border-collapse: collapse;
        width: 100%;
        margin-top: 20px;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }
    th {
        background-color: #f2f2f2;
    }
</style>

<h3>Horario del Dr. {{ doctor.pers_primernombre }} {{ doctor.pers_apellidopaterno }}</h3>
<table>
    <thead>
        <tr>
            <th></th> <!-- Celda vacía para la esquina superior izquierda -->
            <th colspan="2">Lunes</th>
            <th colspan="2">Martes</th>
            <th colspan="2">Miércoles</th>
            <th colspan="2">Jueves</th>
            <th colspan="2">Viernes</th>
        </tr>
        <tr>
            <th>Hora</th>
            {% for _ in doctor.doc_horario.all %}
                <th>Inicio</th>
                <th>Fin</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for hora in doctor.doc_horario.all %}
        <tr>
            <td>{{ hora.horario_hora.hordia_inicio }}</td>
            {% for dia in doctor.doc_horario.all %}
                {% if dia.horario_hora == hora.horario_hora %}
                    <td>{{ dia.horario_dia.diasem_nombre }}</td>
                    <td>{{ dia.horario_hora.hordia_fin }}</td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{# ================= Pie de HTML ================= #}
<script src="{% static 'script.js' %}"></script>