{# ============================================ #}
{# ============= Cargar Variables ============= #}
{# ============================================ #}

{% load static %}
{% include "html_templates/_head.html" %}

{# ============================================ #}
{# ============== Inicio de HTML ============== #}
{# ============================================ #}


	<!-- Content -->
	<div class="banner">
	    <div class="banner-body">
	        <h3 class="text-uppercase">Bienvenido a Hospital Melipilla </h3>
	        <p>Tu salud es nuetra prioridad: cuidando de ti y tu familia en cada paso en tu recuperacion</p>
	        <a href="#informacion-abajo" class="btn btn-primary btn-lg"><i class="fas fa-hamburger fa-fw"></i> &nbsp; Ir a Informacion</a>
	    </div>
	</div>

	<div class="container container-web-page">
	    <h3 class="text-center text-uppercase poppins-regular font-weight-bold">Nuestros servicios</h3>
	    <br>
	    <div class="row">
	        <div class="col-12 col-sm-6 col-md-4">
	            <p class="text-center"><i class=""></i></p>
	            <h5 class="text-center text-uppercase poppins-regular font-weight-bold">Telemedicina</h5>
	            <p class="text-center">Acercando la atenciòn medica a tu puerta. </p>
	        </div>
	        <div class="col-12 col-sm-6 col-md-4">
	            <p class="text-center"><i class=""></i></p>
	            <h5 class="text-center text-uppercase poppins-regular font-weight-bold">Laboratorio Clinico</h5>
	            <p class="text-center">Contamos con el laboratorio clinico mas moderno de la Region</p>
	        </div>
	        <div class="col-12 col-sm-6 col-md-4">
	            <p class="text-center"><i class=""></i></p>
	            <h5 class="text-center text-uppercase poppins-regular font-weight-bold">Reservaciones de Camas</h5>
	            <p class="text-center">Las mejores Camas de toda la region</p>
	        </div>
	    </div>
	</div>

	<hr>

	<div class="container-fluid container-web-page">
	    <h3 class="text-center text-uppercase poppins-regular font-weight-bold">Nuestros mejores medicos te esperan</h3>
	    <div class="container-cards full-box">

	        <div class="card shadow-1-strong">
				<img class="card-img-top" src="{% static 'img/doctora.jpg' %}" alt="nombre_platillo">
	            <div class="card-body text-center">
	                <h5 class="card-title font-weight-bold">Dra. Yoselin Lima</h5>
	               
	            </div>
	            <div class="card-body text-center">
					<style>
						.btn-custom {
						  background-color: #3498db; /* Puedes cambiar el color a tu preferencia */
						  color: #fff; /* Cambia el color del texto para que sea legible en el fondo */
						}
					  </style>
					  
					  <button type="button" class="btn btn-custom btn-sm"><i ></i>Agendar Hora</button>
					  
	                
	               
	            </div>
	        </div>

	        <div class="card shadow-1-strong">
				<img class="card-img-top" src="{% static 'img/medico.jpg' %}" alt="nombre_platillo">
	            <div class="card-body text-center">
	                <h5 class="card-title font-weight-bold"> Dr. Juan Guzman</h5>
	               
	            </div>
	            <div class="card-body text-center">
					<style>
						.btn-custom {
						  background-color: #3498db; /* Puedes cambiar el color a tu preferencia */
						  color: #fff; /* Cambia el color del texto para que sea legible en el fondo */
						}
					  </style>
					  
					  <button type="button" class="btn btn-custom btn-sm"><i ></i>Agendar Hora</button>
					  
	                
	               
	            </div>
	        </div>

	        <div class="card shadow-1-strong">
				<img class="card-img-top" src="{% static 'img/doctor.jpg' %}" alt="nombre_platillo">
	            <div class="card-body text-center">
	                <h5 class="card-title font-weight-bold">Dr. Ramón Cajal</h5>
	              
	            </div>
	            <div class="card-body text-center">
					<style>
						.btn-custom {
						  background-color: #3498db; /* Puedes cambiar el color a tu preferencia */
						  color: #fff; /* Cambia el color del texto para que sea legible en el fondo */
						}
					  </style>
					  
					  <button type="button" class="btn btn-custom btn-sm"><i ></i>Agendar Hora</button>
	              
	            </div>
	        </div>

	    </div>
	    <br>
	   
	</div>

	<hr>

	<div class="container container-web-page">
	    <div class="row justify-content-md-center">
	        <div class="col-12 col-md-6">
	            <figure class="full-box">
					<img src={% static 'img/hospital.jpg' %} alt="nombre_platillo">
	            </figure>
	        </div>
	        <div class="w-100"></div>
	        <div class="col-12 col-md-6">
	           
	            <p class="text-justify">
					<center>
						<h3>
								 Hospital de Melipilla tu mejor opción	
						</h3>
				
					</center>
	               
	            </p>
	           
	        </div>
	    </div>
	</div>




{# ============================================ #}
{# ================ Pie de HTML =============== #}
{# ============================================ #}

{% include "html_templates/_footer.html" %}