{# ============================================ #}
{# ============= Cargar Variables ============= #}
{# ============================================ #}

{% load static %}
{% include "html_templates/_head.html" %}

{# ============================================ #}
{# ============== Inicio de HTML ============== #}
{# ============================================ #}

{% if error %}

    <script>
        Swal.fire({
            icon: 'error',
            title: 'Error',
            text: '{{error_mensaje}}',
            confirmButtonText: 'Aceptar',
        })
    </script>

{% elif success %}

    <script>
        Swal.fire({
            icon: 'success',
            title: 'Usuario Registrado',
            text: '{{success_mensaje}}',
            confirmButtonText: 'Aceptar',
        })
    </script>

{% endif %}

<section class="vh-50">
    <div class="container py-5 h-50">
        <div class="row d-flex align-items-center justify-content-center h-50">
                <!-- Iniciar sesion
                - Nombre de usuario
                - Contraseña
                - Metodo POST
                -->

                <div class="col-md-8 col-lg-6 col-xl-4">
                    <img src="{% static 'img/logo.png' %}" class="img-fluid" alt="Responsive image">
                </div>

                <div class="col-md-8 col-lg-6 col-xl-4">
                    <form class="text-center border border-light p-5" action="{% url 'PaginaIniciarSesion' %}" method="POST">

                        {% csrf_token %}

                        <p class="h4 mb-4">Iniciar Sesión</p>

                        <input type="text" id="nombre_usuario" name="nombre_usuario" class="form-control mb-4" placeholder="Nombre de usuario">

                        <input type="password" id="contrasena" name="contrasena" class="form-control mb-4" placeholder="Contraseña">

                        <button class="btn btn-info btn-block my-4" type="submit">Iniciar Sesión</button>

                        <p>¿No tienes cuenta?
                            <a href="#">Registrate</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </section>

{# ============================================ #}
{# ================ Pie de HTML =============== #}
{# ============================================ #}

{% include "html_templates/_footer_no.html" %}