<!DOCTYPE html>
<html>
<head>
    <title>Lista de Pacientes</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">

</head>
<body>

    {# ============================================ #}
    {# ============= Cargar Variables ============= #}
    {# ============================================ #}

    {% load static %}
    {% include "html_templates/_head_empleados.html" %}

    {# ============================================ #}
    {# ============== Inicio de HTML ============== #}
    {# ============================================ #}

    <div class="container">

        <!-- Navbar (Gadgets) -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <a class="navbar-brand mt-2 mt-lg-0" href="#">
                        <img src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp" height="15" alt="MDB Logo" loading="lazy" />
                    </a>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Team</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Projects</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        

        <!-- <p> <h1>{{paciente.pac_id}}</h1> {{paciente.rut}} - {{paciente.dv}} {{ paciente.primernombre }} {{ paciente.segundonombre }} {{ paciente.apellidopaterno }} {{ paciente.apellidomaterno }}</p> -->
        <!-- Listado de Pacientes utilizando tablas, si la pagina supera las 20 personas, se agrega un boton para ver la siguiente pagina -->
        <table>
            <tr>
                <th>Rut</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Fecha de Nacimiento</th>
                <th>Sexo</th>
                <th>Telefono</th>
                <th>Correo</th>
                <th>Acciones</th>
            </tr>
            {% for paciente in pacientes %}
            <tr>
                <td>{{paciente.rut}}-{{paciente.dv}}</td>
                <td>{{paciente.primernombre}} {{paciente.segundonombre}}</td>
                <td>{{paciente.apellidopaterno}} {{paciente.apellidomaterno}}</td>
                <td>{{paciente.fechanacimiento}}</td>
                <td>{{paciente.sexo}}</td>
                <td>{{paciente.telefono}}</td>
                <td>{{paciente.correo}}</td>
                <td> <a>Ver</a> 
                    <a>Editar</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    {# ============================================ #}
    {# ================ Pie de HTML =============== #}
    {# ============================================ #}

    {% include "html_templates/_footer_no.html" %}

    <script src="{% static 'script.js' %}"></script>
</body>
</html>
