<!DOCTYPE html>
<html>
<head>
    <title>Lista de Pacientes</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">

</head>
<body>

    {# ============================================ #}
    {# ============= Cargar Variables ============= #}
    {# ============================================ #}

    {% load static %}
    {% include "html_templates/_head_empleados.html" %}

    {# ============================================ #}
    {# ============== Inicio de HTML ============== #}
    {# ============================================ #}

    <div class="container">

        <!-- Navbar (Gadgets) -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <a class="navbar-brand mt-2 mt-lg-0" href="#">
                        <img src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp" height="15" alt="MDB Logo" loading="lazy" />
                    </a>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Team</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Projects</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        

        <!-- <p> <h1>{{paciente.pac_id}}</h1> {{paciente.rut}} - {{paciente.dv}} {{ paciente.primernombre }} {{ paciente.segundonombre }} {{ paciente.apellidopaterno }} {{ paciente.apellidomaterno }}</p> -->
        <!-- Listado de Pacientes utilizando tablas
        Tambien añadir una barra de busqueda para filtrar los pacientes por su rut

        Si existe la variable "configruacionanterior" utilizar la variable "busqueda" y establecerla como valor del input
        -->
        <h1>Lista de Pacientes</h1>
        <form class="d-flex" method="GET">
            <input class="form-control me-2" type="search" placeholder="Buscar persona por caracteristica" name="buscarpaciente" autocorrect="off" aria-label="Search" value="{{ configuracionanterior.busqueda }}">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>

        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">RUT</th>
                    <th scope="col">Nombres</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for paciente in pacientes %}
                <tr>
                    <th scope="row">{{paciente.pac_id}}-{{ paciente.rut }}-{{ paciente.dv }}</th>
                    <td>{{ paciente.primernombre }} {{ paciente.segundonombre }}</td>
                    <td>{{ paciente.apellidopaterno }} {{ paciente.apellidomaterno }}</td>
                    <td>
                        <a href="{% url 'detalles_paciente' paciente.pac_id %}" class="btn btn-primary">Ver</a>
                        <a class="btn btn-warning">Editar</a>
                        <a class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="mb-5"></div>
    </div>

    {# ============================================ #}
    {# ================ Pie de HTML =============== #}
    {# ============================================ #}

    {% include "html_templates/_footer_no.html" %}

    <script src="{% static 'script.js' %}"></script>
</body>
</html>
