<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">

    <title>Nueva Emergencia</title>
</head>
<body>

    {# ============================================ #}
    {# ============= Cargar Variables ============= #}
    {# ============================================ #}

    {% load static %}
    {% include "html_templates/_head_empleados.html" %}

    {# ============================================ #}
    {# ============== Inicio de HTML ============== #}
    {# ============================================ #}

    <div class="container">

        <h3>Nueva Emergencia</h3>

        <form method="post">
            {% csrf_token %}
            
            <div class="mb-3">
                {{ form.Descripcion.label_tag }}
                {{ form.emerg_desc }}
            </div>

            <div class="mb-3">
                {{ form.Color.label_tag }}
                {{ form.emerg_color }}
            </div>

            <div class="mb-3">
                {{ form.Fecha.label_tag }}
                {{ form.emerg_fecha }}
            </div>

            <div class="mb-3">
                {{ form.Paciente.label_tag }}
                {{ form.emerg_pac_id }}
            </div>

            <div class="mb-3">
                {{ form.Doctor.label_tag }}
                {{ form.emerg_doc_id }}
            </div>

            <div class="mb-3">
                {{ form.Numero_Pacientes.label_tag }}
                {{ form.num_pacientes }}
            </div>

            <button type="submit" class="btn btn-primary">Guardar Emergencia</button>
        </form>

        <a href="{% url 'emergencias' %}" class="btn btn-primary mt-3">Volver a la Lista de Emergencias</a>

        {# ============================================ #}
        {# ================ Pie de HTML =============== #}
        {# ============================================ #}

        {% include "html_templates/_footer_no.html" %}

        <script src="{% static 'script.js' %}"></script>
    </div>
</body>
</html>
